body {
    font-family: Arial;
    margin: 40px;
}

input, textarea {
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: 300px;
}

button {
    padding: 8px 12px;
    margin-top: 10px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
}
button {
    margin: 2px;
    padding: 4px 8px;
}
